@main("UWCentral") {


<html>
  <body>
    
   <!-- include footer -->
	@views.html.includes.header()

	<div id="content" class="bs-header">
      <div class="container">
        <h1>About Us!</h1>
        <p>Talk about us here</p>
      </div>
    </div>
	
	<div class="signup-form container">
		<p>
			We are 4 Software Engineers (Class 2015) who collectively developed this website for their Design Project.
		</p>
	</div>

	<!-- include footer -->
	@views.html.includes.footerMain()

	}
	
	</body>
</html>


