@main("UWCentral") {

<html>
  <body>
    
   <!-- include footer -->
	@views.html.includes.header()

	<div id="content" class="bs-header">
      <div class="container">
        <h1>Sign Up Now!</h1>
        <p>Start sharing within your campus! All it takes is a few minutes with a VALID uwaterloo email address! This is currently only for Waterloo Students.</p>
      </div>
    </div>
	
	<div class="signup-form container">
	<div class="span2"></div>
	<form class="form-horizontal span7" role="form">
		<div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
	   		<div class="col-sm-4">
	      		<input type="email" class="form-control" id="inputEmail3" placeholder="First Name">
	    	</div>
	    	<label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
	   		<div class="col-sm-4">
	      		<input type="email" class="form-control" id="inputEmail3" placeholder="Last Name">
	    	</div>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	   		<div class="col-sm-10">
	      		<input type="email" class="form-control" id="inputEmail3" placeholder="UWaterloo Email (This will be your username)">
	    	</div>
  		</div>
		  <div class="form-group">
		  		<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    	<div class="col-sm-10">
		      		<input type="password" class="form-control" id="password" placeholder="Password">
		      		<div id="password-strength" class="alert alert-warning" style="display: none;">Your password must contain: <br/> 
		      			- An upper case character <br/> 
		      			- A lower case character <br/>
		      			- A number <br/>
		      			- Minimum 8 characters
		      		</div>
		    	</div>
		  </div>
		  <div class="form-group">
		  		<label for="inputPassword3" class="col-sm-2 control-label"> Password </label>
		    	<div class="col-sm-10">
		      		<input type="password" class="form-control" id="password-verify" placeholder="Retype your Password">
		    	</div>
		  </div>
		  <div class="form-group">
    		<label for="inputEmail3" class="col-sm-2 control-label">Degree</label>
	   		<div class="col-sm-10">
	      		<input type="email" class="form-control" id="inputEmail3" placeholder="Enter the program you are currently enrolled in at Waterloo">
	    	</div>
  	      </div>
		  <div class="form-group">
		  		<h4 class="text-center">*An email will be sent to the uwaterloo address you have provided above to authenticate your newly created account!</h4>
		    	<div class="col-sm-offset-2 col-sm-10">
		      		<button type="submit" class="btn btn-success btn-lg pull-right">Sign Me Up!</button>
		    	</div>
		 </div>
		 
		<div id="password-strength" class="alert alert-danger text-center">Please correctly fill all the required fields!</div>
		</form>
		
		
	 </div>

	<!-- include footer -->
	@views.html.includes.footerMain()

	}
	</body>
	
	<script> 
		var upperCase= new RegExp('[A-Z]');
		var lowerCase= new RegExp('[a-z]');
		var numbers = new RegExp('[0-9]');
		
		$('input:password').focus(
		    function(){
		    	$('#password-strength').fadeIn(200);
		});
		
		$('input:password').keyup(function( event ) {
			var norule = "Your password must contain: <br/> - An upper case character <br/> - A lower case character <br/> - A number <br/> - Minimum 6 characters";
			var accept = 0;
			
			if ($('input:password').val().length >= 8){
				if($('input:password').val().match(upperCase) && $('input:password').val().match(lowerCase) && $('input:password').val().match(numbers))  
				{
					$('#password-strength').fadeOut(200);
				} else{
					$('#password-strength').fadeIn(200);
				}
			} 
			else {	
				$("#password-strength").html(norule);
				$('#password-strength').fadeIn(200);
			}
			
		});
		
	</script>
	
</html>


