@main("UWCentral") {

<html>
  <body class="bs-docs-home">
  
  <!-- include footer -->
	@views.html.includes.header()

    
 <main role="main" id="content" class="bs-masthead">
  <div class="container">
    <div class="span7">
    	<h1>UWCentral</h1>
	    <p class="lead">A community for students to buy, sell and exchange information within the campus.</p>
	    <p>
      		<a href="@routes.LogInSignUp.SignUp" class="btn btn-xs btn-outline-inverse btn-sm">Sign Up</a>
    	</p>
    </div>
    <div class="span4">
    	<br/><br/>
    	<form role="form" class="form-signin">
        	<h2 class="form-signin-heading">Please sign in</h2>
        	<input type="text" autofocus="" required="" placeholder="Email address" class="form-control">
        	<input type="password" required="" placeholder="Password" class="form-control">
        	<label class="checkbox">
         		<input type="checkbox" value="remember-me"> Remember me
        	</label>
        	<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
      	</form>
      	<a href="" class="pull-right forgot-pass"> Forgot Your Password? </a>
    </div>
    
  </div>
</main>
	
	<!-- include footer -->
	@views.html.includes.footer()

	}
	</body>
</html>
